*{
    font-family: 'Coiny', cursive;
}

body{
    background-color: #c73e1d;
    background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%);
}

main{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 600px;
}

h1{
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    font-family: 'Coiny', cursive;
    text-shadow: white 1px 0 10px;
}

h2{
    font-size: 25px;
    text-shadow: white 1px 0 10px;
}

select{
    margin-left: 50%;
    -webkit-transform: scale(2);
}

div{
    float: left;
    width: 250px;
    margin: 75px;
    height: 200px;
}

img{
    width: 200px;
    height: 200px;
    /* margin: 10px; */
}

footer{
    clear: both;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    margin-bottom: 0px;
}

button {
    display: block;
    margin: 10px;
}